{% extends "main.html" %}
{% block title %}Calculate rating {% endblock %}
{% block content %}

    <h2>Twóje ELO: {{yours_new_rating}}</h2>
    <h2>ELO przeciwnika: {{opponents_new_rating}}</h2>
    <br>

<form action="/calculate" method="post">
    <div class="column">
        <div class="lb">
            <label class="lb" for="field1"><span>Twój ranking: <span class="required">*</span></span></label>
        </div>
        <div class="lb">
        <label class="lb" for="field2"><span>Ranking przeciwnika: <span class="required">*</span></span></label>
        </div>
        <div class="lb">
            <label class="lb" for="field3"><span>Wynik: </span></label>
        </div>
         <div class="lb">
            <label class="lb" for="field4"><span>Wartość K: </span></label>
         </div>
        <label><span> </span></label>
    </div>

    <div class="column" style="width:400px;">
        <input type="number" class="input-field" name="your_rating" value="" min="1000" max="3000"/>
        <input type="number" class="input-field" name="opponents_rating" value="" min="1000" max="3000" />
       <select name="score" class="select-field">
            <option value="1">Wygrana</option>
            <option value="0.5">Remis</option>
            <option value="0">Przegrana</option>
        </select>
        <select name="K" class="select-field">
            <option value="40">40</option>
            <option value="30">30</option>
            <option value="20">20</option>
            <option value="10">10</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Oblicz" />
    </div>
</form>
    <br><br>
    <div class="text-area">
        <p>
            Zmienna K, to współczynnik rozwoju,<br><br>
            <b>K = 40 </b>- dla gracza nowego na liście, dopóki nie ukończy wydarzeń z co najmniej 30 grami
            oraz dla wszystkich graczy do 18. roku życia, o ile ich ocena nie przekracza 2300.<br><br>
            <b>K = 20 </b> o ile ocena gracza pozostaje poniżej 2400
            oraz dla ocen RAPID i BLITZ wszystkich graczy. <br><br>
            <b>K = 10 </b> gdy opublikowana ocena gracza osiągnie 2400
            i pozostaje na tym poziomie, nawet jeśli ocena spadnie poniżej 2400.<br>
        </p>
    </div>

{% endblock %}
